---
---

@import "{{ site.theme }}";
a, a:visited, a:active, a:hover {
  border-bottom: 2px solid cadetblue;
  color: cadetblue;
  font-weight: normal;
  &:link, &:active, &:hover {
    border-bottom-color: black;
    color: black !important;
  }
  &:visited {
    border-bottom-color:  cadetblue;
    border-bottom-style: dotted;
    color: cadetblue;
  }
}
h1 {
  color: darkslategrey;
  font-weight: 700;
  a:active, a:hover, a:focus, a:visited {
    border: 0px;
    color:  darkslategrey;
    font-weight:  700;
    text-decoration: none;
  }
}
h2 {

  color: cadetblue;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -0.025em;
}
h3 {
  color: #555555;
}