---
---

@import "{{ site.theme }}";
a, a:link, a:visited, a:active, a:hover {
  color: cadetblue;
  border-bottom: 2px solid cadetblue;
}
a:active, a:hover, a:focus { color: black; font-weight: normal; border-bottom-color: black;  }
a:visited { color: cadetblue; border-bottom-style: dotted; }
h1 {
  color: darkslategrey;
  a:link, a:active, a:hover, a:focus {
    text-decoration: none;
    border: 0px;
    color:  darkslategrey;
  }
}
h2 {

  color: cadetblue;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -0.025em;
}
h3 {
  color: #555555;
}